<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<!-- Header Section Begin -->
	<header th:fragment="header" class="header header_scroll_top"
		id="header_scroll_top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="header__logo">
						<a href="/"><img src="/img/main-logo.png" alt="logo"
							height="33px" /></a>
					</div>
				</div>
				<div class="col-lg-5 col-md-5">
					<nav class="header__menu mobile-menu">
						<ul>
							<li class="${pageActive=='index'?'active':''}"><a href="/">Trang
									chủ</a></li>
							<li class="${pageActive=='shop'?'active':''}"><a
								href="/shop">Sản phẩm</a></li>
							<li class="${pageActive=='order-history'?'active':''}"><a
								href="/shop/order-history">Đơn hàng </a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="header__nav__option">
						<a href="/shop/cart-detail" title="Giỏ hàng"
							class="position-relative pr-3"><img src="/img/icon/cart.png"
							alt="" width="20px" /><span th:text="${totalCart}"
							class="badge badge-danger position-absolute" style="top: -2px">
						</span></a>
						<th:block th:if="${account}">
							<div class="dropdown d-inline">
								<div class="btn btn-white dropdown-toggle btn-sm" type="button"
									data-toggle="dropdown" aria-expanded="false"
									th:text="${account.username}">
									<i class="fa fa-user-circle-o" aria-hidden="true"></i>
								</div>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/account/change-password"> <img
										src="/img/security.png" width="15px" alt="" class="" /> Đổi
										mật khẩu
									</a>
								</div>
							</div>
						</th:block>
						<th:block th:if="${account == false}">
							<a href="/account/login"
								class="btn btn-outline-dark font-weight-bold"> ĐĂNG NHẬP</a>
						</th:block>
					</div>
					<div class="canvas__open">
						<i class="fa fa-bars"></i>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>
<!-- JS Plugin -->
<script src="/js/main.js"></script>
</html>